/* styles.css */
@import url("fonts.css");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

body {
	place-items: center;
	background-color: #000;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    background-image: url('../img/hero.png');
    background-size: cover;
    background-position: center;    
}

.container {
    height: 100%;    
}

.header {
    position: fixed;
    display: flex;
    width: 100%;
    height: 15%;
    top: 0;
    left: 0;
    justify-content: center;
    background-color: blueviolet;
    
}
/* Navigation Bar */

.navbar {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    margin-top:60px;
}

.navbar a {
    font-weight: 300;
    color:#fff;
    text-decoration: none;
    font-size: 36px;
    background-color: none;
    transition: background-color 0.3s ease, color 0.3s linear;
 }
 .navbar a:hover {
    color: rgb(33, 139, 0);
    text-shadow: white;
}
.navbar ul {
    list-style: none;
    display: flex;
    opacity: 1;
}
.navbar li {
    padding: 0 10px;
    opacity: 1;
}
.navbar li a {
    text-decoration: none;
    color: #fff;
    font-size: 28px;
    background-color: none;
    transition: color 0.3s ease, text-shadow 0.3s ease;
}
.navbar li a:hover {
    color: rgba(0, 161, 22, 0.63);
    text-shadow: white;
}

/* Hero Section */
.hero {
    min-height: 90vh;
    height: 100vh;
    width: 100%;
    overflow: visible;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 2;
    margin: 0 auto;
   
}

.hero h1 {
    
    text-shadow: 0 0 .5em var(--glow-color);
    position: absolute;
    display:flex;
    font-family: Banshee, sans-serif;
    font-size: 10em;
    color: black;
   text-shadow: 0px 5px 10px #ffbb00, 0px -5px 10px rgb(255, 0, 170);
    left: 0;
    width: 100%;
    overflow: visible;
}

.hero a {
    position:relative;
	font-family: 'Roboto', sans-serif;
	font-weight: regular;
	font-size: 28px;
    background-color: rgba(6, 27, 14, 0.671);
	display: inline-block;
	cursor: pointer;
	text-decoration: none;
	color: rgb(255, 255, 255);
	border: #ffffff 1px solid;
	padding: 0.4em 1em;
	border-radius: 0.4em;
    transition: all 0.3s ease;
    margin-top: 20%;
    margin-right: 36%;
}
.hero a:hover, .hero a:focus {
	color: rgb(4, 0, 252);
	text-shadow: rgb(17, 207, 0);
    box-shadow:rgb(33, 139, 0);
    background-color:rgb(0, 255, 128);
    border: black;
}
.hero a:hover::before, .hero a:focus::before {
	opacity: 1;
	transform: perspective(1em) rotateX(40deg) scale(1.5, 0.6);
	
}
.hero a:hover::after, .hero a:focus::after {
	opacity: 1;
}

.footer {
    position:absolute;
    display: flex;
    height: auto;
    width: 100%;
    justify-content: center;
}

.footer p {
    position:relative;
    justify-content: center;
    text-align: center;
    font-size: 12px;
    color:rgba(255, 255, 255, 0.452);
    height: 50px;
    width: auto;
}

/* Responsive */
/* Desktop Browsers */
@media (min-width: 600px) {
    
    .mobile {
        display: none;
    }    
    .hero {
        max-width: 1200px;
        max-height: 800px;
    }
}
/* Smartphones */    
@media (max-width: 769px) {
    html, body {
        min-width: 800px;
        height: 1200px;
        width: 100%;
        padding: 0;
        margin: 0;
    }
    body {
        background-image: url('../img/hero-m.png');
        background-size: cover;
        background-position: center;
    }    
    
    .mobile {        
        position: inherit;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }    
    .content {
        display: none;
    }
}